<header>
    <nav>
      <div class="logo">
        <img src="assets/images/logo.png" alt="Logo Vibra Animal" />
      </div>
      <ul>
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a></li>
        <li><a routerLink="/servicios" routerLinkActive="active">Servicios</a></li>
        <li><a routerLink="/contacto" routerLinkActive="active">Contacto</a></li>
        <li><a routerLink="/auth/login" routerLinkActive="active">Iniciar Sesión</a></li>
        <li><a routerLink="/auth/registro" routerLinkActive="active">Registrarse</a></li>
        <li id="tiendaNav" style="display: none;">
          <a routerLink="/cliente/tienda">Tienda</a>
        </li>
        <li id="recetasNav" style="display: none;">
          <a routerLink="/veterinario/recetas">Recetas</a>
        </li>
      </ul>
    </nav>
  </header>
  
